@import url("https://rsms.me/inter/inter-ui.css");
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body{
  padding: 40px;
  background-color: #121212;  
}

typewriter {
  border-right: solid 3px rgba(255,255,255,.60);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 17px;
  color: rgba(255,255,255,.60);
}

/* Animation */
typewriter {
  animation: animated-text 3s steps(100,end) 1s 1 normal both,
             animated-cursor 600ms steps(100,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Inter UI", sans-serif;
  text-align: center;
  color: white;
}

.background {
  position: absolute;
  width: 100%;
  background-image: linear-gradient(-180deg, #000000 0%, #255835 100%);
  overflow: hidden;
  z-index: 1;
  top: -10%;
  height: 120%;
  min-height: 120vh;
  margin-bottom: -20%;
}

.stars {
  position: absolute;
  top: 0;
  width: 300vw;
  height: 100vh;
  transform: translate(0%, 0%);
  background-size: contain;
  background-repeat: repeat;
  transform-origin: top left;
}

.stars1 {
  background-image: url("stars1.svg");
  background-size: 890px;
  height: 750px;
  animation: panning-stars 200s linear infinite alternate;
}

.stars2 {
  background-image: url("stars2.svg");
  height: 530px;
  animation: panning-stars 300s linear infinite alternate;
}

.stars3 {
  background-image: url("stars3.svg");
  height: 370px;
  animation: panning-stars 400s linear infinite alternate;
}

@keyframes panning-stars {
  from {
    transform: translate(-20%, 0%);
  }
  to {
    transform: translate(-80%, -40%);
  }
}

.mycontainer {
  position: relative;
  z-index: 2;
  padding: 104px 0 24px 0;
  width: 95%;
  max-width: 600px;
  margin: auto;
}

h1 {
  display: block;
  font-size: 80px;
  margin: 0 0 24px 0;
}

@media (max-width: 500px) {
  h1 {
    font-size: 14vw;
  }
}

h2 {
  font-weight: 500;
  font-size: 24px;
}

h3 {
  font-weight: 400;
  font-size: 15px;
}

h4 {
  font-weight: 500;
  font-size: 45px;
}

h5 {
  font-weight: 400;
  font-size: 15px;
}

h6 {
  line-height: 2;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
}

h7 {
  display: block;
  font-size: 50px;
  margin: 0 0 0 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

.boxed-title {
  font-weight: bolder;
  color: #020103;
  letter-spacing: -6.7px;
  text-transform: uppercase;
  padding: 0 16px;
  background: #255835;
}

.lined-title {
  display: inline-block;
  font-weight: bold;
  color: #255835;
  letter-spacing: -4.5px;
  text-transform: uppercase;
  padding: 0 16px;
  border-color: #9b00f5;
  border-top: 8px solid;
  border-bottom: 8px solid;
  line-height: 1;
}

code {
  display: block;
  box-sizing: border-box;
  text-align: left;
  font-size: 18px;
  width: 100%;
  padding: 16px 24px;
  background: rgba(44, 37, 44, 0.8);
  border: 1px solid #7f797f;
  border-radius: 8px;
  margin-bottom: 16px;
  margin-top: -50px;
}

code:hover{
  background: rgba(149, 165, 166, 1);
}

code:focus {
  background: rgba(149, 165, 166, 1);
}

code1 {
  display: block;
  box-sizing: border-box;
  text-align: left;
  font-size: 18px;
  width: 100%;
  padding: 16px 24px;
  background: rgba(44, 37, 44, 0.8);
  border: 1px solid #7f797f;
  border-radius: 8px;
  margin-bottom: 16px;
}

.header {
  margin-bottom: 104px;
}

.projects {
  margin-top: 64px;
}

.introduction {
  margin-top: 10px;
}

.introduction img {
  height: auto;
  width: auto;
}

.footer {
  margin-top: 100px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  margin-bottom: 50px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a:focus {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #255835;
  color: white;
}

.topnav b {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 7px;
}

.topnav c {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 7px;
}

.topnav c:hover {
  background-color: #f2f2f2;
  color: rgba(149, 165, 166, 1);
}

.topnav .icon {
  display: none;
}

.img-container {
  text-align: center;
}

.container{
	max-width: 600px;
	display:flex;
	justify-content: space-evenly;
	flex-wrap:wrap;
}
  
 #leftbox, #rightbox { 
 	margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: -5%;
 }




 @import url('https://fonts.googleapis.com/css?family=Slabo+27px');

typewritererasebody{ 
  background: linear-gradient(to left, #ffff00, #fe53cc);
  margin: 0;
  padding: 0;
  color: #a9a9a9;
  outline: hidden;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

typewritererasediv {
  position: relative;
  width: 83%;
  height: 175px;
  margin: 7% auto;
}

typewritererase {
  position: absolute;
  width: 100%;
  height: 50%;
  font-size: 45px;
}

typewritererase:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  line-height: 48px;
  left: 30%;
  top: 50%;
  animation: abomination1 7.5s linear 1;
  animation-fill-mode: forwards;
}


  @keyframes abomination1 {
  0% {
    content: "A";
  }
  1% {
    content: "An";
  }
  2% {
    content: "An e";
  }
  3% {
    content: "An en";
  }
  4% {
    content: "An eng";
  }
  5% {
    content: "An engi";
  }
  6% {
    content: "An engin";
  }
  7% {
    content: "An engine";
  }
  8% {
    content: "An enginee";
  }
  9% {
    content: "An engineer";
  }
  10% {
    content: "An engineer w";
  }
  11% {
    content: "An engineer wi";
  }
  12% {
    content: "An engineer wit";
  }
  13% {
    content: "An engineer with";
  }
  14% {
    content: "An engineer with ";
  }
  15% {
    content: "An engineer with p";
  }
  16% {
    content: "An engineer with pa";
  }
  17% {
    content: "An engineer with pas";
  }
  18% {
    content: "An engineer with pass";
  }
  19% {
    content: "An engineer with passi";
  }
  20% {
    content: "An engineer with passio";
  }
  21% {
    content: "An engineer with passion";
  }
  22% {
    content: "An engineer with passio";
  }
  23% {
    content: "An engineer with passi";
  }
  24% {
    content: "An engineer with pass";
  }
  25% {
    content: "An engineer with pas";
  }
  26% {
    content: "An engineer with pa";
  }
  27% {
    content: "An engineer with p";
  }
  28% {
    content: "An engineer with c";
  }
  29% {
    content: "An engineer with cu";
  }
  30% {
    content: "An engineer with cur";
  }
  31% {
    content: "An engineer with curi";
  }
  32% {
    content: "An engineer with curi";
  }
  33% {
    content: "An engineer with curi";
  }
  34% {
    content: "An engineer with curi";
  }
  35% {
    content: "An engineer with curio";
  }
  36% {
    content: "An engineer with curios";
  }
  37% {
    content: "An engineer with curiosi";
  }
  38% {
    content: "An engineer with curiosit";
  }
  39% {
    content: "An engineer with curiosity";
  }
  40% {
    content: "An engineer with curiosit";
  }
  41% {
    content: "An engineer with curiosi";
  }
  42% {
    content: "An engineer with curios";
  }
  43% {
    content: "An engineer with curio";
  }
  44% {
    content: "An engineer with curi";
  }
  45% {
    content: "An engineer with cur";
  }
  46% {
    content: "An engineer with cu";
  }
  47% {
    content: "An engineer with c";
  }
  48% {
    content: "An engineer with";
  }
  49% {
    content: "An engineer wit";
  }
  50% {
    content: "An engineer wi";
  }
  51% {
    content: "An engineer w";
  }
  52% {
    content: "An engineer ";
  }
  53% {
    content: "An engineer d";
  }
  54% {
    content: "An engineer dr";
  }
  55% {
    content: "An engineer dri";
  }
  56% {
    content: "An engineer driv";
  }
  57% {
    content: "An engineer drive";
  }
  58% {
    content: "An engineer driven";
  }
  59% {
    content: "An engineer driven b";
  }
  60% {
    content: "An engineer driven by";
  }
  61% {
    content: "An engineer driven by p";
  }
  62% {
    content: "An engineer driven by pa";
  }
  63% {
    content: "An engineer driven by pas";
  }
  64% {
    content: "An engineer driven by pass";
  }
  65% {
    content: "An engineer driven by pass";
  }
  66% {
    content: "An engineer driven by passi";
  }
  67% {
    content: "An engineer driven by passio";
  }
  68% {
    content: "An engineer driven by passion";
  }
  69% {
    content: "An engineer driven by passion a";
  }
  70% {
    content: "An engineer driven by passion an";
  }
  71% {
    content: "An engineer driven by passion and";
  }
  72% {
    content: "An engineer driven by passion and c";
  }
  73% {
    content: "An engineer driven by passion and cu";
  }
  74% {
    content: "An engineer driven by passion and cur";
  }
  75% {
    content: "An engineer driven by passion and curi";
  }
  76% {
    content: "An engineer driven by passion and curio";
  }
  77% {
    content: "An engineer driven by passion and curios";
  }
  78% {
    content: "An engineer driven by passion and curiosi";
  }
  79% {
    content: "An engineer driven by passion and curiosit";
  }
  80% {
    content: "An engineer driven by passion and curiosity";
  }
  81% {
    content: "An engineer driven by passion and curiosity.";
  }
}